<p id="notice"><%= notice %></p>

<h1>Filhos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Pai</th>
      <th>Cadastrado em</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= pegar_sexo(child.sex) %></td>
        <td><%= child.father.name %></td>
        <td><%= child.created_at %></td>
        <td><%= link_to 'Detalhes', child, class: "btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_child_path(child), class: "btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', child, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Filho', new_child_path, class: "btn btn-primary" %>
<%= link_to 'Página Inicial', welcome_index_path, class: 'btn btn-default' %>
